<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz21c.statistics.dao.DailyStatisticsDao">

    <select id="selectDailyHitTotalCount" parameterType="com.sz21c.statistics.model.StatisticsSearchDto" resultType="Integer">
        SELECT COUNT(*) FROM LGG_MST_LOGRAWDATA
        WHERE CREATE_TIME BETWEEN #{sDateTime} AND #{eDateTime};
    </select>

    <select id="selectDailyVisitorCount" parameterType="com.sz21c.statistics.model.StatisticsSearchDto" resultType="Integer">
        SELECT COUNT(DISTINCT REFERRER_IP) FROM LGG_MST_LOGRAWDATA
        WHERE CREATE_TIME BETWEEN #{sDateTime} AND #{eDateTime};
    </select>

    <resultMap id="dailyTopTenHitPostMap" type="com.sz21c.statistics.model.DailyTopTenHitPostDto">
        <result column="URL_TITLE" property="urlTitle"/>
        <result column="CNT" property="count"/>
    </resultMap>
    <select id="selectDailyTopTenHitPost" parameterType="com.sz21c.statistics.model.StatisticsSearchDto" resultMap="dailyTopTenHitPostMap">
        SELECT A.URL_TITLE, A.CNT FROM
        (SELECT URL_TITLE, COUNT(*) AS CNT FROM LGG_MST_LOGRAWDATA
        WHERE CREATE_TIME BETWEEN #{sDateTime} AND #{eDateTime}
        GROUP BY URL_TITLE) A
        ORDER BY A.CNT DESC
        LIMIT 10
    </select>
</mapper>