<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz21c.logger.statistics.dao.StatisticsDao">

    <select id="selectHitTotalCount" parameterType="com.sz21c.logger.statistics.model.StatisticsSearchDto" resultType="Integer">
        SELECT COUNT(ID) AS CNT FROM LGG_MST_LOGRAWDATA LRD
        WHERE LRD.CREATE_TIME BETWEEN #{sDateTime} AND #{eDateTime}
        AND USER_AGENT NOT LIKE '%bot%'
    </select>

    <select id="selectVisitorCount" parameterType="com.sz21c.logger.statistics.model.StatisticsSearchDto" resultType="Integer">
        SELECT COUNT(DISTINCT REFERRER_IP) FROM LGG_MST_LOGRAWDATA
        WHERE CREATE_TIME BETWEEN #{sDateTime} AND #{eDateTime}
        AND USER_AGENT NOT LIKE '%bot%'
    </select>

    <resultMap id="topTenHitPostMap" type="com.sz21c.logger.statistics.model.TopTenHitPostDto">
        <result column="URL_TITLE" property="urlTitle"/>
        <result column="CNT" property="count"/>
        <result column="SITE_TYPE" property="siteType"/>
    </resultMap>
    <select id="selectTopTenHitPost" parameterType="com.sz21c.logger.statistics.model.StatisticsSearchDto" resultMap="topTenHitPostMap">
        SELECT
            A.URL_TITLE, A.CNT, SITE_TYPE
        FROM
        (
            SELECT
                URL_TITLE, COUNT(URL_TITLE) AS CNT, SITE_TYPE
            FROM (
                SELECT DISTINCT URL_TITLE, REFERRER_IP, SITE_TYPE FROM LGG_MST_LOGRAWDATA
                WHERE CREATE_TIME BETWEEN #{sDateTime} AND #{eDateTime}
                AND USER_AGENT NOT LIKE '%bot%'
            ) A
            GROUP BY URL_TITLE
        ) A
        ORDER BY A.CNT DESC
        LIMIT 10
    </select>
</mapper>